<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/style.css" rel="stylesheet">
        <title>{{ config.siteName }}</title>
        {%- set css %}
            {% include 'layouts/components/header.css' %}
        {% endset %}
        <style>{{ css | cssmin | safe }}</style>
    </head>
    <body>
        <div class="container mx-auto max-w-3xl">
            {% include 'layouts/header.njk' %}
            <main>
                <div class="container ">
                {{ content | safe }}
                </div>
            </main>
            {% include 'layouts/footer.njk' %}

        </div>
    </body>
</html>
