/* div,
table {
  margin: 0;
} */


/* p {
  margin: 0.5em 0;
} */









/* hr {
  border: none;
  border-top: 1px dashed #999;
  color: #fff;
  background-color: #fff;
  height: 1px
} */

/* a {
  color: #00f;
  word-wrap: break-word
} */

/* a:visited {
  color: #009
} */





/* a.external {
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 13px;
} */





/* table {
  border-collapse: collapse;
  font-size: .8em;
  margin: 10px auto
}

th,
td {
  border: 1px solid gray;
  padding: 2px 5px
} */





svg.permalink {
  color: #666;
  fill: currentColor
}

svg:hover.permalink {
  color: #f00;
  fill: currentColor
}

.title {
  padding: 0;
  margin: 20px 0
}

.meta,
.content {
  padding: 0;
  margin: 10px 0
}

.tag {
  display: inline-block;
  margin-right: 10px;
}

nav#TableOfContents {
  float: right;
  width: 200px;
  overflow: auto;
  margin: 0;
  padding: 0 10px;
  vertical-align: top;
}

nav#TableOfContents:before {
  content: 'Content';
  font-weight: bold;
}

nav#TableOfContents:lang(*-Hans)::before {
  content: '目录';
  font-weight: bold;
}

nav#TableOfContents ul {
  margin: 0;
  padding-inline-start: 24px;
}

.content-with-toc {
  width: calc(100% - 220px);
  margin: 0;
}

@media (max-width:500px) {
  nav#TableOfContents {
    float: none;
    width: 100%;
  }

  .content-with-toc {
    width: 100%;
  }
}

.title h1,
.title h2 {
  padding: 0
}

.meta div {
  padding: 0
}

.content h1 {
  padding: 0;
  margin: 25px 0 0
}

.content h2 {
  padding: 0;
  margin: 20px 0 0
}

.content h3 {
  padding: 0;
  margin: 20px 0 0
}

.content h4 {
  padding: 0;
  margin: 15px 0 0
}

.content h5 {
  padding: 0;
  margin: 10px 0 0
}

.content h6 {
  padding: 0;
  margin: 10px 0 0
}

.content p {
  padding: 0;
  margin: 10px 0
}

div.search2 {
  position: fixed;
  right: -30px;
  max-width: 300px;
  overflow: auto;
  top: 1px;
  width: 300px;
  bottom: 100px
}

div.search {
  display: inline-block;
  margin-bottom: -12px;
}

form.search {
  width: 125px;
  margin-left: 15px;
}

form.search input[type=text] {
  padding: 5px 30px 5px 5px;
  border: 1px solid #999;
  float: left;
  width: 80px;
}

form.search input[type=text]:focus {
  border: 1px solid #333;
  float: left;
  width: 80px;
}

form.search button {
  float: left;
  width: 30px;
  padding: 5px;
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: -30px;
}

form.search .fa-search::before {
  content: "\1F50D";
  font-style: normal;
  color: #999;
}

form.search button:hover {
  color: #333;
}

.article-list li {
  margin-bottom: 0.5em;
}

.article-list li .article-date,
.article-list li .article-title {
  display: inline-block;
}

.article-list li .article-date:after {
  content: ' - ';
}

@media (max-width:500px) {

  .article-list li .article-date,
  .article-date li .article-title {
    display: block;
  }

  .article-list li .article-date:after {
    content: '';
  }
}
