{% if collections.posts.length > pagination.size %}
    <ul class="pagination">
        <li class="page-item">
            {% if page.url !== pagination.href.first %}
                <a href="{{ pagination.href.first | url }}" class="page-link">
                    <span aria-hidden="true">&lt;&lt;</span>
                </a>
            {% else %}
                <span aria-hidden="true">&lt;&lt;</span>
            {% endif %}

        </li>
        <li class="page-item">
            {% if pagination.href.previous %}
                <a href="{{ pagination.href.previous | url }}" class="page-link">
                    <span aria-hidden="true">&lt;</span>
                </a>
            {% else %}
                <span aria-hidden="true">&lt;</span>
            {% endif %}
        </li>
        {% for pageEntry in pagination.pages %}
            {% if page.url === pagination.hrefs[loop.index0] %}
                <li class="page-item">
                    <span aria-hidden="true">{{ loop.index }}</span>
                </li>
                {% else %}
                <li class="page-item">
                    {% if page.url === pagination.hrefs[loop.index0] %}
                        {% set attr = 'aria-current="page"' %}
                    {% else %}
                        {% set attr = '' %}
                    {% endif %}
                    <a href="{{ pagination.hrefs[loop.index0] | url }}" {{ attr | safe }} class="page-link">
                        <span aria-hidden="true">{{ loop.index }}</span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        <li class="page-item">
            {% if pagination.href.next %}
                <a href="{{ pagination.href.next | url }}" class="page-link">
                    <span aria-hidden="true">&gt;</span>
                </a>
            {% else %}
                <span aria-hidden="true">&gt;</span>
            {% endif %}
        </li>
        <li class="page-item">
            {% if page.url !== pagination.href.last %}
                <a href="{{ pagination.href.last | url }}" class="page-link">
                    <span aria-hidden="true">&gt;&gt;</span>
                </a>
            {% else %}
                <span aria-hidden="true">&gt;&gt;</span>
            {% endif %}
        </li>
    </ul>
{% endif %}
