---
title: EJS test
layout: layouts/base.ejs
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fsdf</title>
</head>
<body>
    <%- include('_includes/layouts/header') %>
    <%- include('_includes/layouts/main') %>
    <%- include('_includes/layouts/footer') %>
</body>
</html>
