---
layout: base
---
<article>
    <div class="title">
        <h1>{{ title }}</h1>
    </div>
    <div class="meta">
        {{ date | readableDate }}
    </div>
    <div class="meta">
        {% for tag in tags | pageTags %}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <div class="tag">
                <a href="{{ tagUrl | url }}">#{{ tag }}</a>
            </div>
        {% endfor %}
    </div>
    <div class="artical-body">
        <div class="content">
            {{ content | safe }}
        </div>
    </div>
</article>
